<p class="text-center text-muted" *ngIf="!animais.length">
  Não há animais para exibir.
</p>

<div class="row">
  <div class="col-12 col-md-4 col-lg-3 col-xl-2" *ngFor="let animal of animais">
    <app-cartao>
      <a [routerLink]="['/animais', animal.id]"></a>
      <app-animal
        [url]="animal.url"
        [descricao]="animal.description"
      ></app-animal>
      <div>
        <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2">
          {{ animal.likes }}
        </i>
        <i aria-hidden="true" class="fa fa-comment-o fa-1x mx-2">
          {{ animal.comments }}
        </i>
      </div>
    </app-cartao>
  </div>
</div>
